[submodule "libraries/Adafruit_BMP280"]
	path = libraries/Adafruit_BMP280
	url = git@github.com:adafruit/Adafruit_BMP280_Library.git
[submodule "libraries/DHT"]
	path = libraries/DHT
	url = git@github.com:adafruit/DHT-sensor-library.git
[submodule "libraries/Adafruit_NeoPixel"]
	path = libraries/Adafruit_NeoPixel
	url = git@github.com:adafruit/Adafruit_NeoPixel.git
[submodule "libraries/Adafruit_GFX"]
	path = libraries/Adafruit_GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "libraries/Adafruit_LEDBackpack"]
	path = libraries/Adafruit_LEDBackpack
	url = git@github.com:adafruit/Adafruit_LED_Backpack.git
[submodule "repos/librgb"]
	path = repos/librgb
	url = git@github.com:kigster/librgb.git
[submodule "libraries/OneButton"]
	path = libraries/OneButton
	url = https://github.com/kigster/OneButton
[submodule "repos/kiguino"]
	path = repos/kiguino
	url = git@github.com:kigster/kiguino.git
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = git@github.com:TMRh20/RF24.git
[submodule "libraries/SimpleTimer"]
	path = libraries/SimpleTimer
	url = https://github.com/jfturcot/SimpleTimer.git
[submodule "libraries/DS1307RTC"]
	path = libraries/DS1307RTC
	url = https://github.com/PaulStoffregen/DS1307RTC.git
[submodule "repos/SmartMatrix"]
	path = repos/SmartMatrix
	url = git@github.com:pixelmatix/SmartMatrix.git
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = git@github.com:FastLED/FastLED.git
[submodule "libraries/BackSeatDriver"]
	path = libraries/BackSeatDriver
	url = git@github.com:kigster/BackSeatDriver.git
[submodule "libraries/EEPROMex"]
	path = libraries/EEPROMex
	url = https://github.com/thijse/Arduino-EEPROMEx.git
[submodule "libraries/QueueArray"]
	path = libraries/QueueArray
	url = https://github.com/interactive-matter/QueueArray
[submodule "repos/aurora"]
	path = repos/aurora
	url = git@github.com:pixelmatix/aurora.git
[submodule "libraries/Time"]
	path = libraries/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "libraries/aJson"]
	path = libraries/aJson
	url = git@github.com:interactive-matter/aJson.git
